* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 100;
  color: #FFF;
  background-color: #663399;
  background-image: url(../assets/puzzle.png);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 5vw;
  font-weight: 100;
  position: relative;
  margin-bottom: 1vw;
}

.title::before {
  content: '\1F92F';
  position: absolute;
  left: -8vw; top: -1vw;
  transform: rotate(-15deg);
}

.title::after {
  content: '\1F92F';
  position: absolute;
  right: -8vw; top: 0;
  transform: rotate(15deg);
}

.control {
  display: flex;
  justify-content: center;
  align-content: center;
}

.button,
select {
  margin: 1vw;
  font-family: 'Russo One';
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  color: #FFF;
  background-color: #3366cc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: ease-in-out .25s;
  outline: none;
}

.button-sound {
  position: relative;
}

.button-sound::before,
.button-sound::after {
  position: absolute;
  top: 15px; left: 0;
  width: 90px;
  content: "";
  height: .1vw;
  background-color: #663399;
  transform: rotate(-15deg);
}

.button-sound::after {
  transform: rotate(15deg);
}

.button:hover,
select:hover {
  color: #3366cc;
  background-color: #FFF;
  transform: scale(1.1);
}

.widget {
  width: 30vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}

.moves,
.time {
  width: 150px;
  font-family: 'Russo One';
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  color: #FFF;
  transition: ease-in-out .25s;
  outline: none;
}

.template {
  width: 30vw; height: 30vw;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 .5vw .25vw #3366cc;
}

.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3366cc;
  border-radius: 20px;
  border: 5px solid #FFF;
  font-size: 32px;
  transition: ease-in-out .1s;
  cursor: move;
}

.cell-empty {
  position: absolute;
  pointer-events: none;
}

.cell-empty.active {
  pointer-events: auto;
}


.hidden {
  display: none;
}

.cell:hover,
.cell:active {
  transform: scale(0.96);
}

.shadow {
  width: 100vw; height: 100vh;
  position: fixed;
  top: 0; left: -100vw;
  background-color: #3366cc80;
  z-index: -100;
}

.shadow.active {
  left: 0;
  z-index: 100;
}

.popup {
  width: 320px; height: 200px;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: -150vh;
  margin: auto;
  font-size: 32px;
  color: #663399;
  background-color: #FFF;
  z-index: -90;
  transition: ease-in-out .25s;
}

.popup::before {
  content: '\1F603';
  position: absolute;
  font-size: 64px;
  left: -20px; bottom: -25px;
  transform: rotate(-15deg);
}

.popup::after {
  content: '\1F929';
  position: absolute;
  font-size: 64px;
  right: -20px; bottom: -25px;
  transform: rotate(15deg);
}

.popup.active {
  bottom: 0;
  z-index: 110;
}

.results {
  width: 320px; height: 320px;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  top: -200vh; left: 0; right: 0; bottom: 0;
  margin: auto;
  font-size: 15px;
  line-height: 22px;
  color: #663399;
  background-color: #FFF;
  z-index: -90;
  transition: ease-in-out .25s;
}

.results::before {
  content: '\1F3C6';
  position: absolute;
  font-size: 64px;
  left: 118px; top: -50px;
}

.results.active {
  top: 0;
  z-index: 110;
}

.subtitle {
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 0;
}

.results-item {
  text-decoration: underline;
}

@media (max-width: 1600px) {
  .title {
    font-size: 4.5vw;
  }

  .template {
    width: 40vw; height: 40vw;
  }

  .widget {
    width: 40vw;
  }

  .cell {
  font-size: 3vw;
  }
}

@media (max-width: 1440px) {
  .template {
    width: 50vw; height: 50vw;
  }

  .widget {
    width: 50vw;
  }
}

@media (max-width: 1000px) {
  .title {
    font-size: 6vw;
  }

  .template {
    width: 60vw; height: 60vw;
  }

  .widget {
    width: 50vw;
  }
}

@media (max-width: 640px) {
  .title {
    font-size: 8vw;
  }

  .title::before {
    left: -12vw;
  }

  .title::after {
    right: -12vw;
  }

  .control {
    width: 70%;
    flex-wrap: wrap;
  }

  .button-sound::before,
  .button-sound::after {
    display: none;
  }

  .template {
    width: 80vw; height: 80vw;
  }

  .widget {
    width: 70vw;
    margin: 2vw;
  }

  .cell {
    font-size: 4vw;
    border-radius: 10px;
  }

  .button,
  select {
  font-size: 4vw;
  }

  .moves,
  .time {
    width: 20vw;
    font-size: 3vw;
  }
}